	<% content_for :headers do -%>  
		<link rel="stylesheet" href="/stylesheets/slider.css" type="text/css" media="screen" /> 

		<%= javascript_include_tag 'jquery' %>   
		<%= javascript_include_tag 'easySlider1.7' %>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){	
				$("#slider").easySlider({
					auto: true, 
					continuous: true,
					pause:	4000,
					nextId: "slider1next",
					prevId: "slider1prev"
				});
			});
		</script>                                                                              
	<% end -%>

	<h1>现场</h1>
	<div id="slider-content">   
		 <div id="slider">
				<ul>				
					<li><%=image_tag 'pics/banner.jpg'%></li>
                    <li><%=image_tag 'pics/snap.jpg'%></li>
					<li><%=image_tag 'pics/rails.jpg'%></li>
					<li><%=image_tag 'pics/outside.jpg'%></li>        		
				</ul>
		</div>
	</div>    
	<!-- Slideshow HTML -->
	<h1>演讲视频与ppt</h1> 
	<div id="sidebar">
	   	<div class='box'>
			<h3>赞助商</h3> 
			<ul >
			<li><%=link_to image_tag('sponsor/github.jpg',:align => 'left'),'http://www.github.com',:target => '_blank'%></li>
			<li><%=link_to image_tag('sponsor/ekohe.png',:align => 'left'),'http://ekohe.com/',:target => '_blank'%></li>
			<li><%=link_to image_tag('sponsor/insrc.jpg',:align => 'left'),'http://in-src.com/',:target => '_blank'%></li>
			<li><%=link_to image_tag('sponsor/tengu.jpg',:align => 'left'),'#',:target => '_blank'%></li>    
			<li><%=link_to image_tag('sponsor/joyent-logo.jpg',:align => 'left',:height => '40',:width => '123'),'http://www.joyent.com',:target => '_blank'%> </li>
			</ul> 
			 <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div> 
	 	</div>    
	    <div class='box'>
		<h3>参与讨论</h3>
	    		<p><a href="http://www.muutang.com" target='_blank' class='buy'>线上讨论</a> </p> 
	    </div>
	</div>

	<div class='bio'>
		<a href ='http://yehudakatz.com' target='_blank'><%= image_tag 'yehuda.png',:alt=>"yehuda kate bio" %></a><p><b>Yehuda Katz</b><br />Rails 与 Merb项目核心成员,Engine Yard工程师</p><p><%=link_to '演讲视频','http://v.youku.com/v_show/id_XMTI4NDQ2OTIw.html',:target => '_blank',:class => 'buy'%></p>  
		<p>耶华达·卡兹现供职于<a href="http://www.engineyard.com/" target='_blank'>Engine Yard</a>，是Rails 与 Merb项目的核心成员。他是《<a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_93" target='_blank'>jQuery in Action</a>》以及即将出版的《<a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_145" target='_blank'>Rails 3 in Action</a>》的共著者，还是《<a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_96" target='_blank'>Ruby in Practice</a>》的撰稿人之一。 </p>
		<p>耶华达将其大量时间用于雕琢Rails 与 Merb，以及其它一些Ruby社区项目，例如<a href="http://rubini.us/" target='_blank'>Rubinius</a>和 <a href="http://datamapper.org/">Datamapper<a/>。当问题没有现成解决方案时,他喜欢自己开发一个,比如<a href="http://github.com/wycats/thor/" target='_blank'>Thor</a>和<a href="http://github.com/sam/do" target='_blank'>DO.rb</a>就是这么来的。</p>   
	</div>
	<div class='bio'>
		<%= image_tag 'zhao.png',:alt => "zhao.png",:height => 72 %><p><b>赵路</b><br />IN-SRC高级咨询师</p> 
				<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p2.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/louiezhao/continuous-integration-for-rails-project' target='_blank' class='buy'>PPT</a></p> 
		<p> 赵路，来自北京，财帮子（http://www.caibangzi.com)和IN-SRC Studio（http://www.in-src.com）工程师,也是共同创始人。2007年开始使用Ruby on Rails开发财帮子网站，之后参与多个Ruby on Rails外包项目的开发，深深感受到RoR的快捷、高效,其丰富的社区资源也对他帮助颇多。</p>
	</div>   
	<div class='bio'>
		<%= image_tag 'richard.jpg',:alt => "richard bio",:height => 62,:width => 61 %><p><b>黄志敏</b><br />Ekohe工程师</p>        
				<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p1.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/lgn21st/contributing-to-rails-by-plugin-gem' target='_blank' class='buy'>PPT</a></p> 
		<p> 黄志敏(Richard)，出生在上海，浙江大学硕士学位，长期从事于Java/J2EE开发，对Web Services安全略有研究。一年前接触Ruby和Rails，产生了浓厚的兴趣，现就职于Ekohe公司，从事于Rails敏捷开发。喜欢健康舒适、慢节奏的生活，热衷长跑。</p>
	</div>     
	<div class='bio'>
		<%= image_tag 'ihower-small.png',:alt => "ihower bio"%><p><b>張文鈿</b><br />和多股份有限公司 共同創辦人</p> 
		<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p3.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/ihower/rails-best-practices' target='_blank' class='buy'>PPT</a></p> 
		<p> 張文鈿(a.k.a ihower)，來自台灣新竹，<%=link_to("和多股份有限公司", 'http://handlino.com')%> 共同創辦人及 Ruby on Rails 程式設計師。2006年開始接觸 Ruby on Rails，從此愛上 Ruby 這個極具生產力及表達能力的程式語言。他同時也是 <%=link_to("Ruby Taiwan",'http://ruby.tw')%> 社群主力成員，不定期在台北主辦 Ruby Tuesday 技術分享聚會。</p>
	</div>    
	
	<div class='bio'>
		<%= image_tag 'chacon.jpg',:alt => "chacon bio"%><p><b>斯科特·查肯</b><br />GitHub工程师</p>
		<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p5.html',:target => '_blank',:class => 'buy'%></p> 
		<p> 斯科特·查肯现供职于 GitHub.com，是git的传播者和ruby开发者，他是《Pro Git Apress》 和 《Git Internals Peepcode PDF》 的作者，同时也是git官方网站和Git社区图书项目的维护人之一。 </p>
	   <p>  斯科特在一系列会议如RailsConf,RubyConf,Scotland on Rails,Ruby Kaigi,Oscon和许多地方社区的会议上做过演讲，并且在全美做了大量关于Git的企业培训.</p>
	</div> 
	<div class='bio'>
		<%= image_tag 'gao.png',:alt => "gao bio"%><p><b>郜磊</b><br />Ekohe工程师</p>
		<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p4.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/lgn21st/j-ruby-kungfu-rails' target='_blank' class='buy'>PPT</a></p> 
		<p>Stone Gao (郜磊), 现供职于Ekohe，从事Rails开发。 09年毕业，初出茅庐。以前是微软产品与技术平台的忠实粉丝， 后发现自由、开源软件这边风景独好，
		更利于扩展视野和探索软件的奥妙，于是便投奔自由、开源阵营，沉浸其中，其乐无穷。
		</p>
	</div>             
	<div class='bio'>
		<%= image_tag 'takahashi.jpg',:alt => "takahashi bio"%><p><b>高桥征义</b><br />日本ruby协会会长</p>
		<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p6.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/lgn21st/kungfurails2009' target='_blank' class='buy'>PPT</a></p> 
		<p> 高桥征义是日本ruby协会会长,是日本ruby社区的核心人物之一.日本Twinspark公司的高级工程师。他是《Ruby Programming:向Ruby之父学程序设计》,《Ruby程序设计268技（第2版)》等书的作者。</p>
		<p>他还发明了著名的'高桥流简报法(Takahashi Method - His Original Presentation Method)'。
		高桥本人风趣幽默，他07年在台湾用高桥流简报法做的<%=link_to '勤奋的和懒惰的程序员--在日本','http://www.tudou.com/programs/view/5Z009igfvE8/', :target => '_blank'%>的演讲，让很多看过的人会心一笑。</p>
	</div> 
	<div class='bio'>
		<%= image_tag 'sonic.jpg',:alt => "sonic bio"%><p><b>丁雪丰</b><br />支付宝工程师</p>  
				<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p8.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/lgn21st/j-ruby-kungfu-rails' target='_blank' class='buy'>PPT</a></p> 
		<p> 丁雪丰（网名DigitalSonic），现供职于支付宝，花名张昭，满江红开放技术研究组织核心成员，技术爱好者，他是《JRuby实战》及《Spring攻略》等书的译者，并参与了很多OpenDoc的翻译与审校工作，同时也是SCP/SFTP软件WinSCP的汉化者。</p>
	</div>  
               
	<div class='bio'>
		<%= image_tag 'koz.jpg',:alt => "koz bio"%><p><b>增满工将</b><br />无锡天狗软件开发有限公司CEO</p>
		<p><%=link_to '演讲视频','http://v.youku.com/v_playlist/f3887723o0p7.html',:target => '_blank',:class => 'buy'%><a href='http://www.slideshare.net/lgn21st/sinatra-2347461' target='_blank' class='buy'>PPT</a></p>
		<p>增满工将是一个Ruby社区的热情贡献者，他和很多日本的Ruby开发人员，包括政府的开发人员保持着经常的联系。得益与日本岛根县政府对Ruby应用的推动和鼓励，增满工将正在将政府积极鼓励和推动Ruby社区发展的综合实践向全球介绍和推广。</p>
	</div>
	<h1>其他</h1>   
	   <p><%=link_to '所有嘉宾QA环节视频','http://v.youku.com/v_playlist/f3887723o0p7.html',:target => '_blank',:class => 'buy'%></p> 


