
<h1>组织者</h1>
<%= image_tag 'SOR_logo.jpg',:align=>'LEFT'%> 
<p>Shanghai Ruby&Rails爱好者论坛是一个非营利的民间组织，创办于2007年 
10月。初期它旨在为上海地区的Ruby&Rails爱好者提供一个自由，开放的交流平台.它的特 
点是所有活动免费参加,氛围开放,国际化程度高.目前已发展成为长三角地区知名的 
ruby&rails爱好者组织，并吸引了众多使用ruby&rails的国内/国际厂商参与其中。</p> 
<p>我们还与Javaeye联合主办了在09年5月的第一届中国Ruby技术大会，大会共有500左右的 
与会人员，ruby的创造者Matz到会并作主题演讲。 </p>
<p>相信在不远的将来，我们能为大家带来更多更好的ruby&rails的会议和活动，我们的口号是 
We push the china ruby&rails community forward!! 
上海沙路是shanghaionrails的线下实体公司,负责商业运作.</p>
<h1>我们运作过的会议</h1>  
<p>
 <b>rubyconfchina</b>,
 四百多人参加的大会,ruby创始人matz到会并作主题演讲。<%=link_to 'http://www.rubyconfchina.org/','http://www.rubyconfchina.org/',:target => '_blank'%>
</p>  

<h1>特别感谢</h1> 
Kungfurails需要感谢以下公司和个人的帮助  
<ul>
<li>ruby空间由<%= link_to 'zoomtype','www.zoomtype.info',:target => '_blank'%>提供</li>
<li>logo由<%= link_to 'ekohe','www.ekohe.com',:target => '_blank'%>的<%=link_to 'Nini','http://www.ninisum.com/',:target => '_blank' %>设计</li>
</ul>

<h1>社区支持</h1>
<%=link_to image_tag('chinaonrails.jpg',:alt => 'chinaonrails',:size =>180*180),'http://chinaonrails.com/',:target => '_blank' %>  
<%=link_to image_tag('ruby-learning.jpg',:alt => 'rubylearning'),'http://rubylearning.org/',:target => '_blank' %>      