<div id="logo">
	<%= image_tag 'KungFu_Rails_Logo.png'%> 
</div>      

<div id="menu">
	<ul>
		<li><%= link_to '首页','#' %></li>  
		<li><%= link_to '会议介绍','#' %></li>
		<li><%= link_to '演讲嘉宾','#' %></li>
		<li><%= link_to '日程安排','#' %></li>
		<li><%= link_to '门票信息','#' %></li>
		<li><%= link_to '组织者','#' %></li>
		<li><%= link_to '赞助者','#',:style => 'border-right:none;'%></li> 
	</ul>
</div>