<% content_for :headers do %>
  <%= stylesheet_link_tag 'facebox' %>
  <%= javascript_include_tag "facebox" %>
<% end %>

<h1><%= t :registion %></h1>  
<% @step = 2 %> 
<%= render :partial => '/shared/regnotice'%>     

<div id="payment_info">  
	
<h2>您的参会编号</h2>
<p>   
	你好<%=h @attendee.name %>,感谢您参加<a href="http://kungfurails.org" target='_blank'>KungfuRails 09</a>.以下是您的参会信息。
  <br />参会编号:<strong><%= '%04d' % @attendee.id %></strong><br />
是否参加参会: <b><%= @attendee.join_party ? '是' : '否' %></b>
<% if @attendee.number > 1 -%>
  <br />  购买张数:<b><%= @attendee.number %>张</b>
<% end -%>
<br />
  <strong>您的待支付金额为:<%=total_fee(@attendee)/100%>元</strong><br />我们会在您完成支付后向您发送会议电子门票及其它参会信息。<br />
</p>
<h2>付费方式</h2>
您可选择以下上次付款
<h4 class='payment'>财付通在线付款</h4>
<p>如果您有网上银行或者财付通帐户，可以通过财付通在线支付直接付款给我们.<%= link_to '通过财付通支付', start_pay_attendee_path(@attendee),:id => 'start_pay', :target => '_blank' %>  </p>

<h4 class='payment'>通过淘宝购买</h4>
<p>如果您有淘宝帐户，也可以选择通过淘宝网进行购买. 团购请联系我们为您修改价格(GTalk: zhangyuanyi AT gmail DOT com)
	<% if @attendee.join_party -%>
	<%= link_to '进入淘宝网购买页面', 'http://item.taobao.com/auction/item_detail.jhtml?x_id=0db1&item_id=c48cd74539c140543310bc71bc972a32',:target => '_blank' %>  
	<% else -%>
<%= link_to '进入淘宝网购买页面', 'http://item.taobao.com/auction/item_detail.jhtml?x_id=0db1&item_id=d39425d03bdafd83e0c43f0c96437829',:target => '_blank' %> 
<% end -%></p> 
<small>(请在汇款人信息里注明你的用户名和参会编号)</small>  

<h4 class='payment'>银行汇款</h4>
<p>您也可以通过银行直接转账给我们，以下为帐户信息</p>
<p>帐户号：9555 5002 1679 0641<br />
  收款人：张元一<br />
  开户行：招商银行上海分行漕宝路支行<br />
  <small>(请在汇款人信息里注明你的用户名和参会编号)</small>
</p>

<h4>方式四：现场付款</h4>
<p>您也可选择在会议现场直接付款.但为了大会能够顺利成功的进行,请尽量选择提前在线支付或者汇款.</p>
</p>

<h2>联系方式</h2>
<p>如您在付款中遇到任何问题，可通过以下方式联系我们：</p>
<p>
	电子邮件: support@kungfurails.com <br />
	电话:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13482598953(张元一)<br />
</p>

<div id="pay_status" style="display:none;">
  <div style="">
    <p style="font-size: 18px;">请在打开的支付窗口中完成支付:</p>
    <center>
      <p style="margin: 30px;"><%= link_to '我已完成支付', check_attendee_path(@attendee), :class => 'button' %></p>
      <p><%= link_to '支付遇到问题？', '#' %></p>
    </center>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery('#start_pay').click(function(){
    jQuery.facebox($('#pay_status').html());
  });
</script>
</div> 