<% content_for :headers do %>
  <%= stylesheet_link_tag 'facebox' %>
  <%= javascript_include_tag "facebox" %>
  <script type="text/javascript" charset="utf-8">
  	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
  </script>
<% end %>

<h1>All registers</h1>
<h3 class='annonce'>目前共有<%=Attendee.count_with_number %>人注册,<%=Attendee.all_join_party %>参加自助餐会,<%=Attendee.all_paided %>人已付款,共销售了<%=Payment.sum(:paid_count)/100%></h3>

<%= will_paginate @attendees %>

<table class='sortable'>
  <tr>  
	<th>ID</th>
    <th>Name</th>
    <th>Title</th>
    <th>Company</th>
    <th>City</th> 
	<th>Invoice</th>
	<th>Party</th>
    <th>Paid</th>
	<th>Number</th> 
 	<th>操作</th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr class="<%= cycle :even, :odd %>" style="<%= attendee.paid ? 'background:red;color:#fff;' : ''%>">
	<td><%=link_to attendee.id,attendee %></td>
    <td><%=h attendee.name %></td>
    <td><%=h attendee.title %></td>
    <td><%=h attendee.invoice_header %></td>
    <td><%=h attendee.phone_number %></td>
	<td><%= attendee.need_invoice ? '需要' : '不需要'%></td> 
	<td>><%= attendee.join_party ? '参加' : '不参加'%></td> 
	<td ><%= attendee.paid ? '已支付' : '未支付' %> － <%=link_to('设置支付',edit_payment_attendee_path(attendee),:rel => 'facebox')  %></td>
	<td><%=h attendee.number %></td>
	<td><%=link_to '删除',attendee,:confirm => '你确定嘛?',:method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @attendees %>