<% if @attendee.paid -%> 
<h1><%= t(:thanks) %></h1> 
<% @step = 3 %> 
<%= render :partial => '/shared/regnotice'%>
<div id="payment_info"> 
	<h2>门票购买成功</h2>
	<p>
	   您的门票已经购买成功!
	</p>
	<p>您的参会名称为:<strong><%=h @attendee.name %></strong><br />参会编号为:<strong><%= '%04d' % @attendee.id %></strong></p>此门票<b>已包含午餐<% if @attendee.join_party -%>和会议当天晚餐会<% end -%>的费用</b>.</p>
	<p>
	请您在会议当天<a href='#'>凭注册名称和参会编号准时参会</a>。
	</p>   

	<% if @attendee.need_invoice -%>
	<p> 
		注:我们会在会后向您邮递发票。
	</p>
	<% end -%>
	<p>
		<h4>联系方式</h4>
		<p>如您有任何问题，可通过以下方式联系我们：</p>
  		<p>
			电子邮件: support@kungfurails.com <br />
			电话:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13482598953张元一<br />
		</p>
	<p>
</div>

<% else %>
<%= render :partial => 'pay_info' %>
<% end %>
